.bg-dark-blue {
    background-color: rgb(2, 74, 110);
}

.container-squares-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    margin: 10px;
    height: 100px;
    width: 100px;
}

.vertical-align-square {
    line-height: 100px;
    vertical-align: middle;
}

.bg-color-red {
    background-color: rgb(228, 70, 65);
}

.bg-color-yellow {
    background-color: rgb(231, 231, 108);
}

.bg-color-green {
    background-color: rgb(194, 247, 114);
}

.bg-color-blue {
    background-color: dodgerblue;
}